<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongye.APIsOfMyBatis.dao.CommentMapper">
    <select id="getCommentsById" resultType="com.hongye.APIsOfMyBatis.entity.Comments">
        select * from sportapp.${tablename} where comment_id=#{comment_id} and post_id=#{post_id} and userid=#{user_id}
    </select>
    <select id="getCommentsByPost" resultType="com.hongye.APIsOfMyBatis.entity.Comments">
        select *from sportapp.${tablename} where post_id=#{post_id}
    </select>
    <insert id="addComment" parameterType="com.hongye.APIsOfMyBatis.entity.Comments">
        insert into sportapp.${tablename}(userid,content,post_id)
        values(#{user_id},#{content},#{post_id});
    </insert>
    <delete id="deleteComment" parameterType="com.hongye.APIsOfMyBatis.entity.Comments">
        delete from sportapp.${tablename} where post_id=#{post_id} and userid=#{user_id} and comment_id=#{comment_id}
    </delete>

    <select id="check" resultType="com.hongye.APIsOfMyBatis.entity.Comments">
        select * from sportapp.${tablename} where content =#{content} order by time desc limit 1
    </select>
</mapper>